
.folder-items-editor {
  list-style: none;
  padding: 0;
  box-sizing: border-box;
  width: auto;
  margin-right: 7px ;
  top: 90px;
}

.folder-items-editor li {
  margin: 2px 4px 2px 4px;
  padding: 4px 4px 4px 15px;
  display: flex;
  align-items: center;
  border-radius: 2px;
  
  font-family: var(--font-family);
  font-size: 20px;
  background-color: var(--dark-secondary-bg-color);
}

.folder-items-editor li input {
  font-size: 20px;
  background-color: var(--dark-primary-bg-color);
  width: 100%;
  color: white;
  border: 0;
  border-bottom:  1px solid white;
  width: 100%;
  padding: 4px 4px 4px 15px;
  outline: none;
  font-family: "Roboto Mono", monospace;
}

.folder-items-editor li svg {
  transition: all 0.3s ease;
/*    margin: 10px;*/
}

.folder-items-editor li svg:hover {
  cursor: pointer;
  color: var(--dark-accent-color);
}
