.add-copy-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  border: 2px solid #fff;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.add-copy-button:hover {
  background-color: var(--dark-accent-color);
  border: 2px solid #fff;
  color: white;
}

.add-copy-button a{
  color: white;
  text-decoration: none;
}